Package: ocfspy
Version: 1.0~ocf1
License: unknown
Vendor: kuoh@fire
Architecture: amd64
Maintainer: <kuoh@fire>
Installed-Size: 8
Depends: ocfdocs
Section: default
Priority: extra
Homepage: http://example.com/no-uri-given
Description: no description given
